<div class="row">
	<%= form_for(Picture.new) do |f| %>
		<center>
			<%= f.file_field :pictures, multiple: true, id: "file_input" %>
			<div><%= hidden_field_tag :folder, @folder.id %></div>
			<%= f.submit "Add Pictures", class: "btn btn-primary btn-large" %>
		</center>
	<% end %>
</div>