<div class="modal fade", id="progress-modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Upload Progress</h4>
			<div class="modal-body">
				<%= render 'progress_bar' %>
			</div>
		</div>
	</div>
</div>