<% provide(:title, "Photos") %>

<div class="container-fluid">
	<div class="row">
		<h1>Photos</h1>
	</div>

	<div class="row">
		<ol class="folders">
			<%= render "folders" %>
		</ol>
	</div>
</div>