@import "bootstrap-sprockets";
@import "bootstrap";

@mixins box_sizing{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

$main-teal: #18c7a4;
$text-teal: #28a189;
$hover-orange: #eb8a0c;

/* universal */
.center{
	text-align: center;
	h1{
		margin-bottom: 10px;
	}
}

h1, h2{
	text-align: center;
}

/* Logo */
#logo{
	a{
		color: $main-teal;
		font-size: 24pt;
		line-height: normal;
		letter-spacing: -2px;
		text-decoration: none;
	}
}

/* Tabs */

.nav-tabs > li.active > a{
	color: orange;

	&:focus{
		color: orange;
	}

	&:hover{
		color: orange;
	}
}

.inactive-tab{
	color: $main-teal;
}

/* footer */
footer{
	margin-top: 45px;
	padding-top: 5px;
	padding-left: 20px;
	border-top: 1px solid #eaeaea;
	opacity: .7;
	color: gray;

	a{
		color: gray;
		&:hover{
			color: gray;
		}
	}
}

/* file_uploaders */
#file_input{
	margin-top: 25px;
	margin-bottom: 25px;
}

/* typography */
.caption{
	strong{
		font-size: 20pt;
	}
}

/* Buttons */
.btn{
	margin-top: 10px;
	margin-bottom: 10px;
}

.delete{
	margin-left: 20px;
}

.main-nav{
	margin-top: 25px;
	margin-left: -65px;
	background-color: orange;
	border-color: orange;
	color: white;
	&:hover{
		background-color: orange;
		border-color: orange;
		color: white;	
	}
	&:active{
		border-color: $hover-orange;
		background-color: $hover-orange;
		color: white;
	}
	&:focus{
		border-color: $hover-orange;
		background-color: $hover-orange;
		color: white;
	}
}

#slide-change{
	margin-left: 43px;
}

.btn-next{
	margin-top: 25px;
	background-color: $main-teal;
	border-color: $main-teal;
	color: white;
	&:hover{
		background-color: $main-teal;
		border-color: $main-teal;
		color: white;
	}
	&:active{
		background-color: $text-teal;
		border-color: $text-teal;
		color: white;
	}
	&:focus{
		background-color: $text-teal;
		border-color: $text-teal;
		color: white;
	}
}

/* images */
.thumbnail > img{
	border: 2px solid;
}

.empty_picture{
	background-color: #e8e8e3; /* gray */
	padding-top: 73.5px;
	padding-bottom: 73.5px;
}

.picture-grid{
	overflow-y: scroll;
	overflow-x: hidden;
	max-height: 550px;
}

.thumb-input{
	margin-left: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
}

#picture{ /* from slideslot edit */
	margin-top: 8px;
	margin-bottom: 25px;
}